*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    margin: 0;
    width: 100%;
}
.game{
    width: 100vh;
    height: 100vh;
    width: 100%;
   
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: bisque;
    text-align: center;
}
.navbar p{
    
    padding: 10px;
    font-size: 2rem;
}
.navbar {
    
  height: fit-content;
}

.firstrow  {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    
}

.left{
    float: left;
    width: 100%;
    padding: 5px;
 
    
}
.middle{
    float: left;
    width: 100%;
    padding: 5px;
  
   
}
.right
{
    float:left;
    width: 100%;
    padding: 5px;
    
    
}
.secondrow
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.secondrow div{
  
    width: 100%;
    padding: 5px;
}
.thirdrow{
    display: flex;
    justify-content: space-between;
}
.thirdrow div{
    font-size: 20px;
    width: 100%;
    padding: 5px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    
  }
  .massage{
      margin-top: 50px;
      font-size: 20px;
      text-align: center;
  }
  .result{
      background-color: #F2AA4cFF;
      margin-top: 50px;
      font-size: 20px;
      text-align: center;
  }